
// Main Navbar
.o_main_navbar {

    .o_nav_entry:hover , .o_nav_entry:focus{
        color: #26261A !important;
    }

    .o_edit_website_container {
        .btn-primary{
            border-radius: 6px !important;
            padding: 2px 8px !important;
            .o_nav_entry:hover, .o_nav_entry:focus{
                color: #FFF !important;
            }
        }
    }

}