.cy-template-box {
    padding: 0.6rem;
    min-width: 32%;
    width: 100%;
    max-width: 32%;
}

.o_tile_renderer {
    margin: 0;
    height: 100%;
    box-shadow: none !important;
}

.o_tile_button_add {
    cursor: pointer;
}