.o_footer ul {
    margin: 0;
}

@media (min-width: 992px) {
    .o_website_sale_checkout .o_total_card {
        top: 0 !important;
    }
}

.o_wslides_course_header,
.o_record_cover_container.cc_o_cc3 {
    background-color: #9ea740 !important;
}

.o_wslides_wrap .s_banner {
    background-image: url('/cyllo_website/static/img/cyllo_course_banner.svg') !important;
}

.o_wslides_wrap .s_banner .text-white,
.o_wslides_wrap .s_banner h2,
.o_wslides_wrap .s_banner p {
    color: #212529 !important;
}

.o_wslides_wrap .s_banner h1 {
    color: #212529 !important;
    font-weight: 600 !important;
}

img[src="/web/static/img/smiling_face.svg"] {
    content: url(/cyllo_base/static/src/img/cyllo_smiling_face.svg);
}
