.cy_studio_systray_icon {
    color: #121212;
    border-radius: 4px;
}
.cy_studio_systray_icon:hover{
    background-color: #e9ecef;
}
.disabled-studio {
    opacity: 0.4;
    pointer-events: none;
    cursor: not-allowed;
}