.cy_recent_tabs_menu {
    min-width: 20rem;
    padding: 0;

    .cy_recent_tabs_header {
        padding: 8px 8px;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 1px;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .cy_recent_tab {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;
        cursor: pointer;
        padding: 8px 8px;
    }

    .cy_recent_tab_item{
        display: flex;
        flex-direction: column;

        .cy_recent_tab_name {
            min-width: 0;
            max-width: 10rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 14px;
        }
        .cy_recent_tab_last_visited{
            font-size: 10px;
            opacity: 0.5;
        }
    }

    .cy_recent_tab_actions {
        display: flex;
        flex-shrink: 0;
        white-space: nowrap;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
    }

    .cy_recent_tabs_header.border-bottom {
        border-bottom: 1.5px solid #dee2e6 !important;
    }

    .cy_recent_tab:hover .cy_recent_tab_actions,
    .cy_recent_tab.o_pinned .cy_recent_tab_actions {
        opacity: 1;
    }

    .cy_recent_tab_action {
        padding: 0 5px;
        cursor: pointer;
        font-size: 18px;

        &.disabled {
            color: #b0b0b0;
            cursor: not-allowed;
            opacity: 0.6;
        }
    }

    .cy_recent_tabs_empty {
        padding: 0.25rem 1rem;
    }
}