@media only screen and (min-width: 768px) {
    .o_FormRenderer_chatterContainer:not(.o-aside):not(.o-full-width) .o_ChatterContainer {
        max-width: 99%;
    }
}

.name_position {
    width: auto !important;
    position: relative;
    left: 30px;
}

.name_padding {
    height: 100px;
}